/* tables */

table.tablesorter thead tr .header {

	background-repeat: no-repeat;
	background-position:  center;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {

}
table.tablesorter thead tr .headerSortDown {

}

